.admin-updates {
    width: 85%;
    background: white;
    border-radius: 0.7rem;
    padding: 1.21rem;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    font-size: 13px;
    height: 80%;
}

.admin-updates-item {
    display: flex;
    gap: 0.5rem;
}

.admin-updates-item>img {
    width: 3.2rem;
    height: 3.2rem;
}

.noti>div>span:nth-of-type(1) {
    font-weight: bold;
}

@media screen and (max-width: 1200px) {
    .admin-updates {
        height: 50%;
    }
}