.admin-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

.admin-cards-parent-container {
  width: 100%;
}

@media screen and (max-width: 1200px) {
  .admin-cards {
    flex-direction: column;
  }

  .admin-cards-parent-container {
    height: 9rem;
  }
}

@media screen and (max-width: 768px) {
  .admin-cards {
    width: 90%;
  }
}