.admin-orders {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.admin-orders-card-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 15px;
    align-items: center;
    justify-items: center;
}


@media screen and (max-width: 1200px) {
    .admin-orders-card-container {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 768px) {
    .admin-orders {
        align-items: center;
    }   
}