.admin-products {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.admin-products-card-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 15px;
    align-items: center;
    justify-items: center;
}

.admin-component-card.add-product {
    background: linear-gradient(180deg, #bb67ff 0%, #c484f3 100%);
    box-shadow: 0px 10px 20px 0px #e0c6f5;
}

@media screen and (max-width: 1200px) {
    .admin-products-card-container {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 768px) {
    .admin-products {
        align-items: center;
    }
}