.MuiTableRow-root>* {
  padding: 10px;
}

.MuiTableRow-root.MuiTableRow-head>* {
  font-weight: bold !important;
}

.admin-table td,
th {
  border: none !important;
}

.admin-table:first-child {
  border-radius: 0.7rem !important;
}

.admin-table-status {
  padding: 8px;
  border-radius: 9px;
}

.admin-table-details {
  color: #00b5ff !important;
}

@media screen and (max-width: 1200px) {
  .admin-table {
    width: 170%;
    margin-top: 2rem;
  }
}


@media screen and (max-width: 768px) {
  .admin-table {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 23rem;
  }
}