.admin-product-details {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.admin-product-details-item {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.admin-product-details-item>span:nth-of-type(1) {
    color: #555;
}

.admin-product-details-item>span:nth-of-type(2) {
    font-weight: 500;
    text-transform: capitalize;
}