.admin-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

@media screen and (max-width: 1200px) {
  .admin-cards {
    grid-template-columns: 1fr;
    justify-items: center;
    margin-right: 25px;
  }

  .admin-cards-parent-container {
    height: 9rem;
  }
}

@media screen and (max-width: 768px) {
  .admin-cards {
    margin: 0;
  }
}