.admin-right-side {
    grid-row: 1 / -1;
    grid-column: 3 / 4;
    width: 95%;
    margin-top: 1.4rem;
    justify-self: center;
}


@media screen and (max-width: 1200px) {
    .admin-right-side {
        grid-row: 1 / 2;
        grid-column: 3 / 4;
        justify-content: flex-start;
        margin-top: 3.3rem;
        width: 90%;
    }
}

@media screen and (max-width: 768px) {
    .admin-right-side {
        grid-row: 4 / 5;
        grid-column: 1 / -1;
        margin-top: 0;
    }

    .admin-right-side>div {
        display: flex;
        flex-direction: column;
    }
}